# 🔒 File sensibili
.env
render.yaml
*.key
*.secret
*.token
*.info.json

# 📦 Dipendenze e build
node_modules/
dist/
build/
.cache/

# 🎞️ File locali e media
images/
*.log

# 🧪 Test e debug
*.test.js
*.spec.js
scraper-playlist.js
coverage/

# 💻 Sistema operativo
.DS_Store
Thumbs.db
